
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Aclonica;
    line-height: 1.6;
    background: url('IMAGE.jpg');
    background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
    color:#030303;
}

header {
    background-color: lightcyan;
    color: #088c6f;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

header h1 {
    margin-bottom: 0.5em;
}

#home{
    padding: 2em 0;
    text-align: right;
    margin: 1em;
    border-radius: 10px; 
}
#about{

    padding: 2em 0;
    text-align: left;
    margin: 1em;
    border-radius: 10px; 
}
#services{
    padding: 2em 0;
    text-align: right ;
    margin: 1em;
    border-radius: 10px; 
}
#contact{
    padding: 2em 0;
    text-align: left;
    margin: 1em;
    border-radius: 10px; 
}

section h2 {
    color: #0278ae;
    margin-bottom: 1em;
}

footer {
   
    color: black;
    text-align: right;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
   
}
